{% extends 'fitteam/layout.html' %}

{% block body %}

<div class="container">

    <!-- have 2 divs right next to each other, pictures are touching 
            left side of left picture you can choose what date to check -> corresponding progress pic
            will show up
            right side of the right picture the same
        
        under this comparison a grid of all the progress pics -- if one is clicked, that should show up in
        one of the above containers-->

    <div class="row justify-content-center g-0">
        <div class="col">
            <div class="comparison left">
                <div style="border-style: solid;">
                    <h2>Előtte</h2>
                    <h3>Dátum</h3>
                    <select name="before">
                        {% for date in dates %}
                            <option>{{date}}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <select name="direction">
                        <option value="Front">Front</option>
                        <option value="Side">Side</option>
                        <option value="Back">Back</option>
                    </select>
                </div>
                <img class="comparison-image" src="" id="before_picture">
            </div>
        </div>

        <div class="col">
            <div class="comparison right">
                <img class="comparison-image" src="" id="after_picture">
                <div>
                    <h2>Utána</h2>
                    <h3>Dátum</h3>
                    <select name="after">
                        {% for date in dates %}
                            <option>{{date}}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <select name="direction">
                        <option value="Front">Front</option>
                        <option value="Side">Side</option>
                        <option value="Back">Back</option>
                    </select>
                </div>
            </div>
        </div>

    </div>

</div>
<div style="heigt:100px">
    <select name="grid_direction">
        <option value="Front">Front</option>
        <option value="Side">Side</option>
        <option value="Back">Back</option>
    </select>
</div>

<div class="container">
    <div class="row picture-grid">
    <!-- {% for pic in front_pics %}
        <div class="col">
            <div class="card" style="width: 10rem;">
                <img src="{{pic.progress_pic.url}}" class="card-img-top profile-pic" alt="...">
                <div class="card-body">
                    <p>{{pic.date}}</p>
                </div>
            </div>
        </div>
    {% endfor %}  
    </div>
    <div class="row">
        {% for pic in side_pics %}
            <div class="col">
                <div class="card" style="width: 10rem;">
                    <img src="{{pic.progress_pic.url}}" class="card-img-top profile-pic" alt="...">
                    <div class="card-body">
                        <p>{{pic.date}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}  
    </div>
    <div class="row">
        {% for pic in back_pics %}
            <div class="col">
                <div class="card" style="width: 10rem;">
                    <img src="{{pic.progress_pic.url}}" class="card-img-top profile-pic" alt="...">
                    <div class="card-body">
                        <p>{{pic.date}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}   -->
    </div>
</div>

{% endblock %}