{% extends 'fitteam/layout.html' %}

{% block body %}

<div class="container-fluid">
    <div class="row first">
        <div class="col-9 container" id="chart">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-9">                   
                            <canvas id="myChart"></canvas>
                        </div>                                
                        <div class="col-3">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Kezdés</span>
                                <input type="date" class="form-control" name="" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Vége</span>
                                <input type="date" class="form-control" name="" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Testsúly</h1>
                    <form action="{% url 'bodyweight' %}" method="POST">
                        {% csrf_token %}
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-default">Testsúly</span>
                                        <input type="text" class="form-control" name="bodyweight" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-default">Testzsír%</span>
                                        <input type="text" class="form-control" name="bodyfat" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-default">Dátum</span>
                                        <input type="date" class="form-control" name="date" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                        <div id="date" class="form-text">Ha nem adsz meg dátumot, a mait rögzíti.</div>                                    
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <input type="submit" class="btn btn-primary" name="add" value="Rögzítés">
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col">
                                    <a href="{% url 'upload' %}" class="btn btn-primary">Kép feltöltése</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Display information already input</h1>
                    <table class="table table-dark table-striped">
                        <thead>
                            <tr>
                            <th scope="col">Dátum</th>
                            <th scope="col">Testsúly</th>
                            <th scope="col">Testzsír %</th>
                            <th scope="col">Zsír tömeg</th>
                            <th scope="col">Zsírmentes testtömeg</th>
                            <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for weight in weights %}
                            <tr>
                                <td>{{weight.date}}</td>
                                <td>{{weight.bodyweight}}</td>
                                {% if weight.bodyfat != 0 %}
                                <td>{{weight.bodyfat}}</td>
                                <td>{{weight.fm}}</td>
                                <td>{{weight.ffm}}</td>
                                {% else %}
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                {% endif %}
                                <td>
                                    <form action="{% url 'bodyweight' %}" method="POST">
                                    {% csrf_token %} 
                                    <input type="submit" name="delete{{weight.date}}{{weight.bodyweight}}" value="Delete">
                                </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}